<app-header [title]="title || 'Cards Page'"> </app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eum sequi
      delectus placeat et iste maxime explicabo perspiciatis nam consequuntur ex
      similique fugit id nostrum, autem error optio repellendus dolores.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni
      illo officiis fugiat ullam culpa recusandae asperiores blanditiis
      consequatur qui sunt deleniti itaque placeat voluptates vero sit ad,
      officia iusto.
    </ion-card-content>
  </ion-card>
</ion-content>
